# Python
__pycache__/
*.py[cod]
*$py.class

# Docker
.docker/

# Logs
*.log

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project Specific
toxiproxy.json
frontend/node_modules/
frontend/dist/
frontend/.next/
